/* FormGroup */
/*  Navlayout  */
.u-form-control {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  width: 100%;
  height: 30px;
  cursor: text;
  font-size: 14px;
  line-height: 1.5;
  color: #424242;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  transition: all .3s; }
  .u-form-control:focus {
    border-color: #66afe9;
    outline: 0; }
  .u-form-control::-ms-clear, .u-form-control ::-ms-reveal {
    display: none; }

.u-form-control[disabled] {
  background: #eee;
  border-color: #e0e0e0;
  color: #BDBDBD;
  cursor: not-allowed; }

.u-form-control.lg {
  height: 38px;
  font-size: 14px; }

.u-form-control.sm {
  font-size: 12px;
  height: 24px; }

.u-form-control-search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  padding: 4px;
  width: 100%; }
  .u-form-control-search-wrapper .u-form-control-search-action {
    color: #ccc;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    text-decoration: none; }
    .u-form-control-search-wrapper .u-form-control-search-action .uf {
      transition: all .3s;
      font-size: 12px;
      color: #ccc; }
      .u-form-control-search-wrapper .u-form-control-search-action .uf.uf-search:before {
        content: "\E603"; }

.u-form-control-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; }
  .u-form-control-affix-wrapper .u-form-control-prefix, .u-form-control-affix-wrapper .u-form-control-suffix {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    right: 7px;
    color: rgba(0, 0, 0, 0.65); }

/* FormGroup */
/*  Navlayout  */
.u-button {
  background: rgb(224,224,224);
  border: none;
  border-radius: 4px;
  color: rgb(0,0,0);
  position: relative;
  min-width: 72px;
  padding: 5px 13px;
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow, transform;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 1.57143;
  vertical-align: middle; }
  .u-button::-moz-focus-inner {
    border: 0; }
  .u-button:hover {
    background-color: rgb(238,238,238); }
  .u-button:active {
    background-color: rgb(189,189,189); }
  .u-button.colored {
    color: rgb(30,136,229); }
    .u-button.colored:focus:not(:active) {
      background-color: rgb(189,189,189); }
  .u-button.disable {
    -webkit-box-shadow: none;
    filter: alpha(opacity=65);
    box-shadow: none;
    cursor: not-allowed;
    opacity: .65; }

input.u-button[type="submit"] {
  -webkit-appearance: none; }

.u-button-floating {
  border-radius: 50%;
  font-size: 14px;
  height: 38px;
  margin: auto;
  min-width: 38px;
  width: 38px;
  padding: 0;
  line-height: normal;
  border: 1px solid rgb(224,224,224); }
  .u-button-floating.colored {
    background: rgb(67,160,71);
    color: rgb(255,255,255);
    background: rgb(255,255,255); }
    .u-button-floating.colored:hover {
      background-color: rgb(102,187,106); }
    .u-button-floating.colored:focus:not(:active) {
      background-color: rgb(67,160,71); }
    .u-button-floating.colored:active {
      background-color: rgb(67,160,71); }

.u-button.disabled, .u-button[disabled] {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none; }

.u-button-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .u-button-default:hover, .u-button-default:focus, .u-button-default:active {
    background-color: #e6e6e6;
    border-color: #adadad; }

.u-button-primary {
  color: rgb(255,255,255);
  background-color: rgb(30,136,229);
  border: 1px rgb(30,136,229) solid; }
  .u-button-primary.focus, .u-button-primary:focus, .u-button-primary:hover {
    background-color: rgb(66,165,245);
    border-color: rgb(66,165,245); }
  .u-button-primary.active, .u-button-primary:active {
    background-color: rgb(21,101,192);
    border-color: rgb(21,101,192); }

.u-button-danger {
  color: rgb(255,255,255);
  background-color: rgb(244,67,54);
  border: 1px rgb(244,67,54) solid; }
  .u-button-danger.focus, .u-button-danger:focus, .u-button-danger:hover {
    background-color: rgb(229,115,115);
    border-color: rgb(229,115,115); }
  .u-button-danger.active, .u-button-danger:active {
    background-color: rgb(211,47,47);
    border-color: rgb(211,47,47); }

.u-button-info {
  color: rgb(255,255,255);
  background-color: rgb(0,188,212);
  border: 1px rgb(0,188,212) solid; }
  .u-button-info.focus, .u-button-info:focus, .u-button-info:hover {
    background-color: rgb(77,208,225);
    border-color: rgb(77,208,225); }
  .u-button-info.active, .u-button-info:active {
    background-color: rgb(0,151,167);
    border-color: rgb(0,151,167); }

.u-button-warning {
  color: rgb(255,255,255);
  background-color: rgb(255,152,0);
  border: 1px rgb(255,152,0) solid; }
  .u-button-warning.focus, .u-button-warning:focus, .u-button-warning:hover {
    background-color: rgb(255,183,77);
    border-color: rgb(255,183,77); }
  .u-button-warning.active, .u-button-warning:active {
    background-color: rgb(245,124,0);
    border-color: rgb(245,124,0); }

.u-button-success {
  color: rgb(255,255,255);
  background-color: rgb(76,175,80);
  border: 1px rgb(76,175,80) solid; }
  .u-button-success.focus, .u-button-success:focus, .u-button-success:hover {
    background-color: rgb(129,199,132);
    border-color: rgb(129,199,132); }
  .u-button-success.active, .u-button-success:active {
    background-color: rgb(56,142,60);
    border-color: rgb(56,142,60); }

.u-button-border.u-button-success {
  color: rgb(76,175,80);
  border: 1px rgb(76,175,80) solid; }
  .u-button-border.u-button-success.focus, .u-button-border.u-button-success:focus, .u-button-border.u-button-success:hover {
    background-color: rgb(129,199,132);
    border-color: rgb(129,199,132);
    color: #fff; }
  .u-button-border.u-button-success.active, .u-button-border.u-button-success:active {
    color: #fff;
    background-color: rgb(56,142,60);
    border-color: rgb(56,142,60); }

.u-button-border.u-button-warning {
  color: rgb(255,152,0);
  border: 1px rgb(255,152,0) solid; }
  .u-button-border.u-button-warning.focus, .u-button-border.u-button-warning:focus, .u-button-border.u-button-warning:hover {
    background-color: rgb(255,183,77);
    border-color: rgb(255,183,77);
    color: #fff; }
  .u-button-border.u-button-warning.active, .u-button-border.u-button-warning:active {
    color: #fff;
    background-color: rgb(245,124,0);
    border-color: rgb(245,124,0); }

.u-button-border.u-button-danger {
  color: rgb(244,67,54);
  border: 1px rgb(244,67,54) solid; }
  .u-button-border.u-button-danger.focus, .u-button-border.u-button-danger:focus, .u-button-border.u-button-danger:hover {
    background-color: rgb(229,115,115);
    border-color: rgb(229,115,115);
    color: #fff; }
  .u-button-border.u-button-danger.active, .u-button-border.u-button-danger:active {
    color: #fff;
    background-color: rgb(211,47,47);
    border-color: rgb(211,47,47); }

.u-button-border.u-button-info {
  color: rgb(0,188,212);
  border: 1px rgb(0,188,212) solid; }
  .u-button-border.u-button-info.focus, .u-button-border.u-button-info:focus, .u-button-border.u-button-info:hover {
    background-color: rgb(77,208,225);
    border-color: rgb(77,208,225);
    color: #fff; }
  .u-button-border.u-button-info.active, .u-button-border.u-button-info:active {
    color: #fff;
    background-color: rgb(0,151,167);
    border-color: rgb(0,151,167); }

.u-button-border.u-button-primary {
  color: rgb(30,136,229);
  border: 1px rgb(30,136,229) solid; }
  .u-button-border.u-button-primary.focus, .u-button-border.u-button-primary:focus, .u-button-border.u-button-primary:hover {
    background-color: rgb(66,165,245);
    border-color: rgb(66,165,245);
    color: #fff; }
  .u-button-border.u-button-primary.active, .u-button-border.u-button-primary:active {
    color: #fff;
    background-color: rgb(21,101,192);
    border-color: rgb(21,101,192); }

.u-button-border {
  color: rgb(0,0,0);
  border: 1px solid #d9d9d9;
  background-color: #fff; }

.u-button-border:hover, .u-button-border:focus {
  color: rgb(0,0,0);
  background: rgb(238,238,238); }

.u-button-border:active {
  color: #fff;
  background: rgb(189,189,189); }

.u-button-icon {
  border-radius: 50%;
  font-size: 14px;
  height: 32px;
  margin: auto;
  min-width: 32px;
  width: 32px;
  padding: 0;
  line-height: normal;
  border: 1px solid rgb(224,224,224); }

.u-button-lg {
  padding: 8px 15px;
  font-size: 14px; }

.u-button-xg {
  padding: 10px 18px;
  font-size: 16px; }

.u-button-sm {
  padding: 3px 5px;
  font-size: 12px; }

.u-button-squared {
  border-radius: 0; }

.u-button-round {
  border-radius: 1000px; }

.u-button-block {
  white-space: normal;
  display: block;
  width: 100%; }

.u-button-pill-left {
  border-radius: 500px 0 0 500px; }

.u-button-pill-right {
  border-radius: 0 500px 500px 0; }

/* FormGroup */
/*  Navlayout  */
.u-popconfirm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1540;
  display: none;
  max-width: 300px;
  padding: 1px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(224,224,224);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .u-popconfirm-dark {
    background-color: rgb(66,66,66);
    color: #fff; }

.u-popconfirm.right {
  margin-left: 10px; }

.u-popconfirm.left {
  margin-left: -10px; }

.u-popconfirm.top {
  margin-top: -10px; }

.u-popconfirm.bottom {
  margin-top: 10px; }

.u-popconfirm.right > .arrow {
  top: 50%;
  left: -10px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: rgb(224,224,224); }

.u-popconfirm.left > .arrow {
  top: 50%;
  right: -10px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: rgb(224,224,224); }

.u-popconfirm.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: rgb(224,224,224);
  bottom: -10px; }

.u-popconfirm.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: rgb(224,224,224);
  top: -11px; }

.u-popconfirm > .arrow {
  border-width: 10px; }

.u-popconfirm > .arrow, .u-popconfirm > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.u-popconfirm > .arrow:after {
  border-width: 10px;
  content: ""; }

.u-popconfirm.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff; }

.u-popconfirm.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px; }

.u-popconfirm.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff; }

.u-popconfirm.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff; }

.u-popconfirm-dark.right > .arrow:after {
  border-right-color: rgb(66,66,66); }

.u-popconfirm-dark.left > .arrow:after {
  border-left-color: rgb(66,66,66); }

.u-popconfirm-dark.top > .arrow:after {
  border-top-color: rgb(66,66,66); }

.u-popconfirm-dark.bottom > .arrow:after {
  border-bottom-color: rgb(66,66,66); }

.u-popconfirm-content {
  padding: 15px; }

.u-popconfirm-confirm {
  text-align: center; }
  .u-popconfirm-confirm button {
    margin-right: 10px; }

.u-popconfirm .u-button {
  margin: 10px; }

/* FormGroup */
/*  Navlayout  */
.u-label {
  padding-right: 5px;
  font-size: 14px; }

